apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginx-rs
  labels:
    app: delivery
spec:
  # modify replicas according to your case
  replicas: 3
  selector:
    matchLabels:
      app: prod
  template:
    metadata:
      labels:
        app: prod
    spec:
      containers:
      - name: nginx-cont
        image: nginx
        ports:
        - name: web
          containerPort:  80
          protocol: TCP