---
apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: nginx-deployment 
  labels: 
    app: nginx
spec: 
  replicas: 2 
  selector: 
    matchLabels:
      app: nginx 
  template: 
    metadata:
      labels: 
        app: nginx #selection label
    spec:
      containers: #multi-container pod
      - name: nginx-container1
        image: nginxdemos/hello:plain-text
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: appcluster
spec:
  type: ClusterIP #accessble within the cluster
  ports: 
  - name: http
    port: 8091 #service port
    targetPort: 80 #container port
    protocol: TCP
  selector:
    app: nginx

#without service we can use expose command
# kubectl expose deploy nginx-deployment --type=ClusterIP --name=ingress-nginx --port=8010 --target-port=80 --protocol=TCP